<%= render('shared/error', obj: @member) %>

<table border="1">
  <tr>
    <th><%= form.label(:name, 'ユーザー名') %></th>
    <td><%= form.text_field(:name) %></td>
  </tr>
  <tr>
    <th><%= form.label(:password, 'パスワード') %></th>
    <td><%= form.text_field(:password) %></td>
  </tr>
  <tr>
    <th><%= form.label :password_confirmation, 'パスワード確認' %></th>
    <td><%= form.text_field :password_confirmation %></td>
  </tr>
  <tr>
    <th><%= form.label :email, 'メールアドレス' %></th>
    <td><%= form.text_field :email %></td>
  </tr>
  <tr>
    <th><%= form.label :email_confirmation, 'メールアドレス確認用' %></th>
    <td><%= form.text_field :email_confirmation %></td>
  </tr>
  <tr>
    <th><%= form.label :tel, '電話番号' %></th>
    <td><%= form.text_field :tel %></td>
  </tr>
  <tr>
    <th>性別</th>
    <td>
      <%= form.radio_button :gender, 0 %>
      <%= form.label :gender_0, '男' %>
      <%= form.radio_button :gender, 1 %>
      <%= form.label :gender_1, '女' %>
      <%= form.radio_button :gender, 2 %>
      <%= form.label :gender_2, '不明' %>
    </td>
  </tr>
  <tr>
    <th><%= form.label :birthday, '誕生日', for: 'member_birthday_1i' %></th>
    <td><%= form.date_select :birthday, start_year: 1940, end_year: Time.now.year, use_month_numbers: true %></td>
  </tr>
  <tr>
    <th><%= form.label(:postalCode, '郵便番号')%></th>
    <td><%= form.text_field(:postalCode) %></td>
  </tr>
  <tr>
    <th><%= form.label(:address, '住所')%></th>
    <td><%= form.text_field(:address) %></td>
  </tr>
</table>
